<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
<nav class="navbar" style="background:#232f3e; padding: 20px; display:flex; justify-content:space-between; color:white;">
    <h2>ShopStore</h2>
    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="{{ url_for('cart') }}">My Cart</a>
        {% if 'user_id' in session %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
</nav>
    <div class="auth-container">
        <h2>Login</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn-auth">Sign In</button>
       <p>Don't have an account? <a href="/register" style="color:#ff9900;">Register here</a></p>
        </form>
    </div>
</body>
</html>