<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <header class="hero">
        <h1>Welcome To ShopStore</h1>
        <p>Nothing but the best.</p>
    </header>
<nav class="navbar" style="background:#232f3e; padding: 20px; display:flex; justify-content:space-between; color:white;">
    <h2>ShopStore</h2>
    <div class="navbar-links">
        <a href="/">Home</a>
        {% if 'user_id' in session %}
            <a href="{{ url_for('cart') }}">My Cart</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
</nav>
    <div class="product-grid">
        {% for item in items %}
        <div class="card">
            <h3>{{ item.name }}</h3>
            <span class="badge">{{ item.category }}</span>
            <p class="price">${{ item.price }}</p>
            <a href="/add/{{ item.id }}" class="btn-cart">Add-to-cart</a>
        </div>
        {% endfor %}
    </div>

    <footer class="footer">
        <p>Contact: help@shopstore.com | Tel: 0212 555 0000</p>
    </footer>
</body>
</html>